
<!DOCTYPE html>
<html>
 
<head>
    <title>FlaskTest</title>
    <link rel="stylesheet" href='./register.css' />
</head>
 
<body>
    <!-- <h2>Welcome To GFG</h2> -->
    <div style="text-align: center;">
        Server Output
    <br><br>
    <div class="output" style="
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;">
    <!-- <b><p>Ticket: {{ticket}}</p></b> -->
    <!-- <p>Server message: <span style="color: green">{{message}}</span></p> -->
    <!-- <p>Status: <span style="color: green">{{status}}</span></p> -->
    <p>Match found: <span style="color: green">{{match}}</span></p>
    <p>Data: <span style="color: green">{{data}}</span></p>
    <p>Time: <span style="color: green">{{time}}</span></p>
    <!-- <p>Username: {{username}}</p> -->
    </div>
</div>

</body>
 
</html>